<% var title = 'Formulaire login' %>
<% include head %>

<h1>Dashboard Admin</h1>

<p>Gestion des profils et ID des Utilisateurs bientôt implémenté.</p>

<div id = "profil">
  <b>Suppresion d'un profil</b>
  <br />
  <br />
    <form method="post" action="/dashboardAdmin">
      Email: <input type="text" name="email">
      <br />
      <br />
      <input type="submit" name="btn" value="Supprimer utilisateur">
      <form method="post" action="/dashboardAdmin2">
        <input type="submit" name="btn2" value="Supprimer dessins">
      </form>
    </form>
</div>
<% include foot %>