<% var title = 'Formulaire login' %>
<% include head %>

<h1>Dashboard Admin</h1>

<div id = "dashboard">
  <p>Gestion des profils et ID des Utilisateurs bientôt implémenté.</p>
</div>
<% include foot %>