<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        body {
            padding: 50px;
            font: 13px Helvetica, Arial, sans-serif;
        }
        .error {
            color: red
        }
        .success {
            color: green;
        }
        a:link
        {
            text-decoration:none;
            color: black;
        }
    </style>
    <link rel="stylesheet" media="screen" href="./css/styles.css" >
    <div id = "head">
    <tr>
        <td><h1><img src="./img/pictionnary.png" width="30" height="30"/> Pictionnary</h1></td>
        <td><a href="/profile">Profil | </a></td>
        <td><a href="/dashboard">Dashboard | </a></td>
        <td><a href="/paint">Paint | </a></td>
        <td><a href="/facebook">Facebook | </a></td>
        <td><a href="/logout">Logout</a></td>
    </tr>
    </div>
</head>
<body>